@page
@model BookLibrarySystem.Pages.AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">You do not have access to this resource.</p>
</header>
<button onclick="goBack()" class="btn btn-dark">Go Back</button>
<script>
    function goBack() {
        window.history.back();
    }
</script>
